<div class="ui inverted menu">
  <div class="header item"> <i class = "fa fa-taxi">  </i> <a href ="/home">Ride Along </a> </div>
  <div class="active item">Schedule A Ride</div>
  <div class="item"><a href ="/about">About</a></div>
  <div class="item"><a href ="/help">Help</a></div>
 
  <div class="right menu">
    <div class="ui dropdown item" tabindex="0">
      Account
       <i class="fa fa-bars"></i>
      <div class="menu" tabindex="-1">
        <div class="item" ><a href ="/account">Manage Account</a></div>
        <div class="item">Current Vehicles</div>
        <div class="item">Past Rides</div>
        <div class="divider"></div>
        <div class="item">Sign Out</div>
      </div>
    </div>
  </div>
</div>