<script>
$(document).ready(function(){
    $("#navMaster").on("click", ".account", function(){
      $('.ui.sidebar').sidebar('toggle');
    });
  });
</script>
<div id = "navMaster" class="ui inverted menu">
  <div class="header item"> <i class = "fa fa-taxi">  </i> <a href ="/home">Ride Along </a> </div>
  <div class="ui item account" tabindex="0">Account</div>
  <div class="active item">Schedule A Ride</div>
  <div class="item"><a href ="/about">About</a></div>
  <div class="item"><a href ="/help">Help</a></div>
</div>
<div id = "sideNav"></div>

  <script type="text/babel">
var cars = ["Honda Fit", "Ford Escape"];
var test =[1,2,3,4,5];
var SideBar = React.createClass({
  render: function() {
    var vehicles = this.props.data.map(function(vehicle, i){
      return(
        <h4 key ={i}>{vehicle}</h4>
        );
    });
    return (
      <div  id = "accountSideBar" className = "ui sidebar inverted vertical menu">
        <h3 className = "ui header">Hi, Jordan! </h3>
        <div className = "ui styled accordion">
        <div className = "title">
            <i className="dropdown icon"></i>
            Vehicles
        </div>
         <div className="content">
          {vehicles}
          </div>
        </div>
      </div>
    );
  }
});
ReactDOM.render(
  <SideBar data={cars}/>,
  document.getElementById('sideNav')
  
);
</script>