<!DDOCTYPE HTML>
<html lang="en">
<head>
<% include ../partials/head %>
</head>
<title>Lost?</title>
<body>
<script>
	$(document).ready(function(){
		$('.ui.dropdown').dropdown();
	});
</script>
<% include ../partials/navbar %>
	<p>Would you like some help there sir?</p>
</body>
</html>