<!DDOCTYPE HTML>
<html lang="en">
<head>
<% include ../partials/head %>
</head>
<title>Help for you?</title>
<body>
	<% include ../partials/navbar %>
	<p>Would you like some help there sir?</p>
</body>
</html>